body, html {
  margin: 0;
  font-family: 'Arial, sans-serif';
  background-color: #0077C8;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Allow content to expand beyond viewport */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling only */
}

.profile-container {
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 5%;
  position: relative;
  overflow-y: auto;
  max-height: 90vh; /* Set max height to avoid overflow */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
  font-family: 'Roboto'; 
  font-size: 2.0rem; 
  color: #333; 
  text-align: center;
  margin-bottom: 20px; 
  text-transform: capitalize; 
  letter-spacing: 1px; 
}

.profile-info {
  padding-right: 140px;
}

.profile-info p, .profile-info label {
  font-family: 'Mulish-Regular';
  margin: 5px 0;
  background-color: #E0E0E0;
  padding: 10px;
  border-radius: 5px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.profile-picture {
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #E0E0E0;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  font-family: 'Mulish-Regular';
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #0077C8;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button-group button:hover {
  background-color: #005a90;
}

.profile-resume a {
  display: inline-block;
  background-color: #0077C8;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.profile-resume a:hover {
  background-color: #005a90;
}

.withdrawal-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.withdrawal-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.withdrawal-modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.withdrawal-modal-confirm-button {
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.withdrawal-modal-cancel-button {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.withdrawal-modal textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
