/* ViewAppliedApplicants.css */
@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  }
.view-applied-applicants {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 600px;
}

 .h2 {
    font-size: 21px;
    font-family: 'Roboto';
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.applicants-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.applicant-card {
    background: #ffffff;
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.applicant-card {
    font-family: 'Mulish-Regular';
    margin: 0 0 10px;
    color: hsl(0, 0%, 0%);
    font-size: 18px;
}
h3{
    color: #007bff;
    font-size: 24px;
    border-color:black ;
    font-family: 'Mulish-Regular';
    margin-top: 10px;
}

.applicant-card, .note {
    margin: 5px 0;
    font-size: 0.95em;
    color: black;
}

.applicant-card p strong {
    font-family: 'Mulish-Regular';
    color: #333;
    text-decoration: none;
}
.viewDetails{
    font-size: 10px;
    font-family:'Mulish-Regular';
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid #007bff;
    background-color: hsl(0, 0%, 96%);
    color: #007bff;  
}
.viewDetails:hover{
    font-size: 10px;
    font-family:'Mulish-Regular';
    font-weight: bold;
    color: #007bff;
    border-radius: 50%;
    background-color: #007bff;
    border: 2px white solid;  
    color: white; 
}
.backDetails{
    font-size: 10px;
    font-family: 'Mulish-Regular';
    border-radius: 4px;
}
.details{
    text-decoration: none;
    font-family: 'Mulish-Regular';
    margin-bottom: 30px;
    font-weight: lighter;
}

.details p{
    text-decoration: none;
    line-height: 10px;

}
.uploaded{
    font-size: 12px;
    font-family: 'Mulish-Regular';
}
.documents{
    font-size: 16px;
    font-family: 'Mulish-Regular';
    margin: 5px;
}
.download{
    font-size: 12px;
    font-family: 'Mulish-Regular';
    font-weight: bolder;
}
.hire-button{
    font-family: 'Mulish-Regular';
    font-size: 14px;
    margin: 20px;
    border-radius: 3px;
    padding: 10px;
}

.reject-button{
    font-family: 'Mulish-Regular';
    font-size: 13.5px;
    margin: 20px;
    border-radius: 3px;
    padding: 10px;
}