/* Sign Out Modal Styling */
@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
.sign-out-modal-App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
}

.sign-out-modal-content-App {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.sign-out-close-button-App {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.sign-out-form-group-App {
  margin-bottom: 15px;
}

/* Sign Out Button Styling */
.sign-out-App {
   font-family: 'Mulish-Regular';
  width: 100%;
  padding: 10px;
  background-color: #0077C8;
  color: rgb(10, 10, 10);
  border: 2px solid #0a0a0a;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px; 
}

.sign-out-App {
  background-color: #0056b3;
}
