@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish/static/Mulish-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}

.job-detail-view {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 500px;
    min-height: 500px;
    font-family: 'Mulish-Regular';
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.back-button {
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto';
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.job-metadata {
    display: flex;
    justify-content: space-between;
    background-color: hwb(214 5% 27%);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.job-metadata div {
    flex: 1;
    text-align: center;
}

h4 {
    margin: 0px;
    font-size: 10px;
}

p {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: underline;
}

.job-overview {
    background-color: #f7f9fc;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.job-overview h3 {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #003366;
    font-family: 'Roboto';
}
.overviewp {
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 0px;
    padding-inline: 15px;
    font-size: 12px;
    line-height: 20px;
    font-weight: lighter;
    text-align: justify;
}

.apply-button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-family: 'Mulish';
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #0056b3;
}

.applied-button {
    background-color: #28a745;
    cursor: not-allowed;
}

.applied-button:hover {
    background-color: #218838;
}
.space {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
